@import "tailwindcss";

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
/* .footer {
  background-color: blue;
  padding: 1rem 0;
  text-align: center;
  color: white;
}

.navbar {
  background-color: aquamarine;
  padding: 1rem 0;
  text-align: center;
  color: black;
  width: 30%;
}

.content {
  background-color: blueviolet;
  padding: 1rem 0;
  text-align: center;
  color: black;
  width: 70%;
} */
